* {
    box-sizing: border-box;
    margin: 8px;
    font-family: "Poppins", sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
header {
    text-align: center;
    color: #183B56;
    position: relative;
    z-index: 1;
}
main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 90vw;
}
.rectangle {
    width: 65px;
    height: 15px;
    background-color: #ff8345;
    opacity: 70%;
    position: absolute;
    top: 72px;
    left: -2px;
    z-index: -1;
}
.category {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: #FFFFFF;
    width: 20%;
    height: 250px;
    border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, 0.103);
    padding: 15px;
    margin: 10px;
    position: relative;
}
.mpic {
    box-shadow: 4px 4px 10px rgba(0,0,0,0.1);
    border-radius: 50%;
}

h2 {
    font-size: 16px;
    font-weight: 600;
    font-style: normal;
    color: #183B56;
}
h4 {
    font-size: 12px;
    font-weight: 200;
    color: #183B56;
}
.topics {
    position: absolute;
    bottom: 20px;
    display: flex;
    flex-direction: column;
    gap: 2px;
}
.bt {
    position: absolute;
    bottom: 25px;
    right:  30px;
    cursor: pointer;
}
.item-3 {
    background-color: rgba(179, 186, 197, 0.2);
    border: none;
    
}
main .item-8 {
    background-image: url('../pic/bg-more.png');
    background-size: cover;
    position: relative;
}

main .item-8 h2 {
    margin: 0;
    width: 120px;
    color: white;
    font-size: 24px;
    font-weight: 400;
    font-style: normal;
    position: absolute;
    bottom: 48px;
    left: 30px;
}
main .item-8 .bt {
    position: absolute;
    bottom: 64px;
    right: 32px;
}
@media only screen and (max-width: 600px) {
    main {
        display: flex;
        flex-direction: column;
        width: 100vw;
    }
    .category {
        width: 80%;
    }
}
@media only screen and (min-width: 600px) and (max-width: 1200px) {
    main {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100vw;
    }
    .category {
        width: 40%;
    }
}