* {
  margin: 0;
  box-sizing: border-box;
}

:root {
  --front-1-color: #183b56;
  --front-2-color: rgb(0, 0, 0, 0.5);
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  gap: 100px;
}

header {
  text-align: center;
  position: relative;
}

h1 {
  color: var(--front-1-color);
  font-weight: bolder;
}

span {
  background-image: linear-gradient(to top, #ffa87d 50%, transparent 50%);
}

main {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.section1,
.section2 {
  display: flex;
  flex-direction: row;
  gap: 25px;
}

.box1 {
  border: 0.5px solid rgba(36, 36, 36, 0.062);
  width: 300px;
  height: 250px;
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 10px;
  background-color: white;
  transition: background-color 0.3s;
}

.box1:hover {
  background-color: rgba(36, 36, 36, 0.062);
}

.boxfooter {
  display: flex;
  justify-content: space-between;
}

.boxinfo1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: var(--front-1-color);
  gap: 15px;
}

.Opend-Amount-jobs {
  color: var(--front-2-color);
}

.pic1 {
  border-radius: 50%;
  border: 0px solid black;
}

.box2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-image: url("../pic/bg-more.png");
  width: 300px;
  height: 250px;
  border-radius: 10px;
  gap: 30px;
}

.button-next {
  border: none;
  padding: 0;
  background-color: transparent;
}

.button-explore {
  border: none;
  padding: 0;
  background-color: transparent;
}

.boxinfo2 {
  color: white;
  font-size: 20px;
}

.box2 {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-image: url("../pic/bg-more.png");
  width: 300px;
  height: 250px;
  border-radius: 10px;
  gap: 30px;
}

.box2::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 10px;
  transition: background-color 0.3s ease;
}

.box2:hover::before {
  background-color: rgba(0, 0, 0, 0.15);
}

@media only screen and (max-width: 600px) {
  .section1,
  .section2 {
    display: flex;
    flex-direction: column;
  }

  .menu {
    height: 100%;
    width: 100%;
  }
}
